$color-gradiente-footer:brown,burlywood,beige,white;

.footer{
    background: linear-gradient($color-gradiente-footer);
    &__h2{
        color:$color-fondo-header;
        font-family:Arial, Helvetica, sans-serif;
        font-size: $h2;
        text-align: center;
    }
    &__redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-decoration: none;
        font-size: 3rem;
        color: yellow;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.877 );
        padding: 6px;}

}




