//se dejan titulos o descripciones principales(aun se estan corrigiendo errores)//
h4{
    text-align: center;
    font-size: $h4;
    color: darkred;
    background-color: rgba(0, 0, 0, 0.877);
}
.index h2{
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: $h2;
    
}
.index p{
    color: brown;
    font-family: cursive;
    font-size: 1rem;
}

.index h2{
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: $h2;
    text-align: center;
}


.index h3{
    color: darkred;
    font-size: $h3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
